.countdown-wrapper {
  width: 100%;
  .countdown {
    display: flex;
    justify-content: center;

    .countdown_item {
      margin: 0 16px;

      .countdown_tag {
        color: #fff;
        font-size: 12px;
        text-transform: uppercase;
      }

      .countdown_time {
        span {
          width: 50px;
          height: 80px;
          margin: 5px;
          border-radius: 4px;
          font-size: 44px;
          line-height: 80px;
          font-family: "Oswald", Helvetica, Arial, sans-serif;
          background: linear-gradient(0deg, #f4f4f4 0%, #fff 100%);
          color: #9b9b9b;
          display: inline-block;
        }
      }
    }
  }
}
