@import url("https://fonts.googleapis.com/css?family=Open+Sans|Oswald:500,600,700&display=swap");

/* ======================== */
/* layout fedault styles */
/* ======================== */
$dark-grey: #191919;
$light-grey: #9b9b9b;
$red: #db0000;
$dark-red: #97021e;
$title: "Oswald", Arial, Helvetica, sans-serif;
$body: "Open Sans", Arial, Helvetica, sans-serif;
$defaultFontSize: 16px;
$defaultLineHeight: 18px;

/* ======================== */
/* Styles that will affect Flexbox grid */
/* ======================== */
* {
  box-sizing: border-box;
}

html {
  font-size: $defaultFontSize;
  line-height: $defaultLineHeight;
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 1rem;
  font-family: $body;
  font-weight: 400;
  color: $light-grey;
  line-height: 1.125rem;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

.wrap {
  box-sizing: border-box;
  max-width: 1200px;
  margin: auto;
}

.page-section {
  padding-top: 3rem;
  margin-bottom: 3rem;
}

/* Box styles */
.box,
.box-first,
.box-large,
.box-nested,
.box-row {
  position: relative;
  box-sizing: border-box;
  min-height: 1rem;
  margin-bottom: 0;
  background: #007fff;
  border: 1px solid #fff;
  border-radius: 2px;
  overflow: hidden;
  text-align: center;
  color: #fff;
}

.box-row {
  margin-bottom: 1rem;
}

.box-first {
  background: #06c;
  border-color: #007fff;
}

.box-nested {
  background: #036;
  border-color: #007fff;
}

.box-large {
  height: 8rem;
}

.box-container {
  box-sizing: border-box;
  padding: 0.5rem;
}

@media only screen and (min-width: 48rem) {
  .body {
    font-size: 16px;
  }
  .box,
  .box-first,
  .box-large,
  .box-nested,
  .box-row {
    padding: 1rem;
  }
}

/* ======================== */
/* My custom global styles */
/* ======================== */

/* ------------------------- */
/* Font Styles  */
/* ------------------------- */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $dark-grey;
  font-family: $title;
  font-weight: 700;
  margin-top: 24px;
  margin-bottom: 12px;
  line-height: 1.1;
}

h1 .h1 {
  font-size: 4rem;
  line-height: 4.5rem;
  margin-top: 1.125rem;
  margin-bottom: 2.25rem;
}

h2 .h2 {
  font-size: 2rem;
  line-height: 2.25rem;
  margin-top: 1.125rem;
  margin-bottom: 1.125rem;
}

h3,
.h3 {
  font-size: 1.4375rem;
  line-height: 2.25rem;
  margin-top: 1.125rem;
  margin-bottom: 1.125rem;
}

h4,
.h4 {
  font-size: 1rem;
  line-height: 1.125rem;
  margin-top: 1.125rem;
  margin-bottom: 1.125rem;
}

h5,
.h5 {
  font-size: 1rem;
  line-height: 1.125rem;
  margin-top: 1.125rem;
  margin-bottom: 1.125rem;
}

p,
ul,
ol,
pre,
table,
blockquote {
  margin-top: 0rem;
  margin-bottom: 1.125rem;
}

ul ul,
ol ol,
ul ol,
ol ul {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

/* Let's make sure all's aligned */
hr,
.hr {
  border: 1px solid;
  margin: -1px 0;
}
a,
b,
i,
strong,
em,
small,
code {
  line-height: 0;
}
sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}

a {
  color: $light-grey;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a.btn {
  background: $red;
  text-decoration: none;
  font-size: 0.625rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  transition: all 0.2s ease-in;

  &:hover {
    background: $dark-red;
  }
}

.hero-date-location {
  padding: 2rem 0;
  color: #fff;

  small {
    padding: 0 1rem;

    svg {
      margin-right: 5px;
    }
  }
}
